
*{
  border: 0;
  margin: 0;
  padding: 0;
}

input{
    border: 2px solid#451c5e;
    border-radius: 4px;

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset]
{
    background-color: #451c5e;
    border: none;
    color: white;
    margin: 4px 2px;
  cursor: pointer;
}
.btn
{
  background-color: #451c5e;
  border: none;
  color: white;
  margin: 4px 2px;
cursor: pointer;
}
body {
    background-color: white;
  }
  #data{
      color: rgb(230, 17, 205);
  }

  .card{
    width: 300px;
    height:250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

  }
  .bg-cc {
    background-image: url("img/1.png");
  
  }
.card:hover {
  transform: scale(1.10) translateZ(0);
}

.card-title{
  text-align: center !important;
  color:  white;
  font-weight: bold;
}
.card-header{
  color:  white;
  text-align: center;
  font-weight: bold;
  background-color:#DB85BA !important;
}
.card-text{
  color:white;
  font-weight: bold;
}
.card-img{
  width: 150px;
  height:200px;
  opacity: 0.5;
  
}
.shadow{
  background-color: #451c5e;
}
canvas{
  background:lightblue; display: block; margin: 0 auto;
}